/* Global Styles */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
}

/* Custom Styles */

.App {
  text-align: center;
}
